<!DOCTYPE html>
<html>
    <head>
        <%- include ("../partials/head") %>
    </head>
    <body>
        <header>
            <%- include ("../partials/header") %>
        </header>
        <div class="posts"><!-- posts start -->
            <%- include ("partials/top") %>
            <!-- main start -->

            <!-- views/posts/index.ejs -->
            <div class="index">
                <a href="/posts/new"><button>New</button></a>
                <ul>
                    <!-- mongoose의 find query는 데이터베이스의 데이터를 배열로 가져다 주기 때문에 
                        자바스크립트의 forEach 함수를 사용해서 데이터를 나열할 수 있습니다.
                    -->
                    <% data.forEach(function(e){ %>
                        <li>
                            <a href="/posts/<%= e._id %>"><%= e.title %></a>
                            <span><%= e.createdAt.toLocaleDateString() %></span> 
                        </li>
                    <% }) %>
                </ul>
            </div>

            <!-- main end -->
        </div><!-- posts end -->
        <footer>
            <%- include ("../partials/footer") %>
        </footer>
    </body>
</html>